# Output and intermediate files
*.sra
*.fastq
*.bam
*.sam
*.bai
*.html
*.json

# Logs
*.out
*.err
*.log
*.tmp

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
._.DS_Store

# Editor/IDE config
.vscode/
*.swp
